name: Release

on:
  push:
    tags: ["v*"]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@v3

      - name: Install Aftman
        uses: ok-nick/setup-aftman@v0.3.0

      - name: Install Dependencies
        run: wally install

      - name: Build
        run: rojo build --output build.rbxm default.project.json

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v3
        with:
          name: build
          path: build.rbxm

  build-example:
    name: Build Example Game
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@v3

      - name: Install Aftman
        uses: ok-nick/setup-aftman@v0.3.0

      - name: Install Dependencies
        run: wally install --project-path example

      - name: Build Example Game
        run: rojo build --output build.rbxl example.project.json

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v3
        with:
          name: build-example
          path: build.rbxl

  release:
    name: Release
    needs: [build, build-example]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Project
        uses: actions/checkout@v3

      - name: Download Matter Build
        uses: actions/download-artifact@v3
        with:
          name: build
          path: build

      - name: Download Example Game Build
        uses: actions/download-artifact@v3
        with:
          name: build-example
          path: build-example

      - name: Rename Build
        run: mv build/build.rbxm matter.rbxm

      - name: Rename Example Game Build
        run: mv build-example/build.rbxl AttackOfTheKillerRoombas.rbxl

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          name: Matter ${{ github.ref_name }}
          body: |
            Matter ${{ github.ref_name }} is now available!
          files: |
            matter.rbxm
            AttackOfTheKillerRoombas.rbxl

  publish:
    name: Publish
    needs: [release]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@v3

      - name: Install Aftman
        uses: ok-nick/setup-aftman@v0.3.0

      - name: Publish
        run: wally publish --token ${{ secrets.WALLY_AUTH_TOKEN }}
